.fourth-page {
    display: flex;
    place-content: center;
    background-color: #2F6E70;
    width: 100%;
    height: 48vh;
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 60px;

        .first {
            margin-left: 20px;

            img {
                margin-left: 20px;
            }

            p {
                margin-top: 20px;
                width: 59%;
                text-align: center;
                color: white;
                font-family: 'Manrope', sans-serif;
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
        .second {
            display: flex;
            flex-direction: column;
            
            h4 {
                font-size: 30px;
                text-transform: uppercase;
                color: white;
                text-align: center;
            }
            
            .text-container {
                display: flex;
                flex-wrap: wrap;
                gap: 100px;
                align-self: center;
                color: white;
                text-transform: uppercase;


                .one, .two{
                    p {
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                }
            }
        }

        .third {
            h4 {
                font-size: 30px;
                color: white;
                text-align: center;
                text-transform: uppercase;
            }
            p {
                color: white;
                text-align: center;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }

        .fourth {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 30px;
                color: white;
                text-align: center;
            }

            .social-links {
                display: flex;
                margin: 20px 0;
                gap: 40px;
                align-self: center;

                div {
                    cursor: pointer;
                }
            }

            .back-to-the-top {
                border: none;
                border-radius: 10px;
                display: flex;
                gap: 20px;
                place-content: center;
                align-items: center;
                font-size: 17px;
                cursor: pointer;
                background-color: black;
                height: 12vh;
                color: white;
                width: 90%;
            }       
        }
    }
}

@media screen and (max-width: 1000px) {
    .fourth-page {
        display: grid;
        height: 100%;
        overflow: hidden;

        .container {
            grid-template-columns: none;
            // .first {
            //     border-right: none;
            //     width: 350px;

            //     .text-container {
            //         display: grid;
            //         gap: 20px;
            //         margin-top: 20px;
            //     }
            // }

            // .second {
            //     border-right: none;
            //     width: 350px;

            // }

            // .third {
            //     display: grid;
            //     margin-top: 20px;
            //     row-gap: 10px;
            //     margin-left: 0px;
            //     width: none;
                
            //     .social-links {
            //         display: grid;
            //         place-content: center;
            //         margin-top: 10px;
            //         font-size: 20px;
            //         row-gap: 30px;
            //     }

            //     .back-to-the-top {
            //         // width: 100%;
            //         width: 300px;
            //         margin-left: 23px;
            //         height: 15vh;
            //         align-self: center;
            //         margin-bottom: 20px;
            //     }
            // }

            // .fourth {
            //     margin-bottom: 10px;

            //     img {
            //         width: 150px;
            //     }
            // }
        }
    }
}


footer {
    background-color: #2F6E70;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    p {
        margin-left: 20px;
    }
    .terms {
        margin-right: 30px;
        display: flex;
        gap: 20px;

        a {
            color: white;
        }
    }
}

@media screen and (max-width: 650px) {
    footer {
        display: grid;
        place-content: center;
        height: 10%;

        p {
            margin-left: 0px;
            text-align: center;
        }

        .terms {
            // display: grid;
            // place-content: center;
            // gap: 10px;
            display: flex;
            place-content: center;
        }
    }
}