@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}



@import './first-page';
@import './second-container';
@import './second-page';
@import './third-page';
@import './fourth-page';
@import './job-seeker-mobile';
@import './l-t-s';
@import './who-we-are';
@import './admin';
@import './lab-read-more';
@import './contact-us';