@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.change .line-1 {
  transform: rotate(45deg);
  translate: 0.3rem 0.8rem;
  height: 10px;
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg);
  translate: 0.3rem -0.3rem;
  height: 10px;
}

.change .menubar {
  position: absolute;
  top: -10px;
}

.change header {
  width: 100%;
}

.first-page {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.first-page .first-container {
  display: flex;
  height: 15vh;
  width: 100%;
  position: fixed;
  z-index: 500;
}
.first-page .first-container .logo {
  cursor: pointer;
}
.first-page .first-container .logo img {
  width: 100%;
  height: 18vh;
}
.first-page .first-container header {
  display: flex;
  background-color: rgb(25, 92, 98);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 10px;
  height: 11vh;
}
.first-page .first-container header nav {
  align-self: center;
}
.first-page .first-container header nav ul {
  display: flex;
}
.first-page .first-container header nav ul li {
  position: relative;
  margin-left: 70px;
}
.first-page .first-container header nav ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
}
.first-page .first-container header nav ul li .under::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 100%;
  left: 1;
  bottom: -1px;
}
.first-page .first-container header nav ul .down-two .down-menu-two {
  display: none;
  position: absolute;
  top: 180%;
  left: -50%;
  background-color: #fff;
  border: 2px solid #ccc;
  width: 270px;
  border-radius: 10px;
  height: 200px;
}
.first-page .first-container header nav ul .down-two .down-menu-two a {
  color: black;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.first-page .first-container header nav ul .down-two .down-menu-two .home {
  border-bottom: 2px solid black;
  padding-top: 20px;
}
.first-page .first-container header nav ul .down-two .down-menu-two .nursing {
  border-bottom: 2px solid black;
  padding-top: 20px;
}
.first-page .first-container header nav ul .down-two .down-menu-two .lab-tech-serivces {
  padding-top: 20px;
}
.first-page .first-container header nav ul .down-two .down-menu-two .home:hover,
.first-page .first-container header nav ul .down-two .down-menu-two .nursing:hover,
.first-page .first-container header nav ul .down-two .down-menu-two .lab-tech-serivces:hover {
  background-color: #ccc;
}
.first-page .first-container header nav ul .down-two .show {
  display: grid;
}
.first-page .first-container header .job-seeker {
  font-family: "Manrope", sans-serif;
  width: 18%;
  height: 8vh;
  border: 2px solid rgba(9, 0, 0, 0.25);
  color: black;
  border-radius: 7px;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0 25px 50px -12px rgba(21, 56, 14, 0.25);
  transition: all 0.3s ease-in-out;
  align-self: center;
  font-size: 20px;
  margin: 20px;
}
.first-page .first-container .menubar {
  display: none;
}

@media screen and (max-width: 1143px) {
  .first-page .first-container header nav ul li {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .change .menubar {
    right: 90%;
  }
  .first-page {
    height: 100%;
  }
  .first-page .first-container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .first-page .first-container .logo img {
    width: 80%;
    height: 20vh;
  }
  .first-page .first-container header {
    position: absolute;
    width: 0%;
    height: 400px;
    right: 0px;
    margin: 0;
    overflow: hidden;
    border-bottom-right-radius: 0px;
  }
  .first-page .first-container header nav {
    width: 100%;
  }
  .first-page .first-container header nav ul {
    display: grid;
    place-content: center;
    text-align: center;
  }
  .first-page .first-container header nav ul li {
    margin-bottom: 50px;
    margin-right: 20px;
  }
  .first-page .first-container header nav ul .down-one .show {
    display: none;
  }
  .first-page .first-container header nav ul .down-two .show {
    display: none;
  }
  .first-page .first-container header .job-seeker {
    align-self: flex-end;
    position: absolute;
    width: 95.5%;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .first-page .first-container .showHeader {
    width: 100%;
  }
  .first-page .first-container .menubar {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
    margin-right: 30px;
    z-index: 1001;
    transition: right 2s ease-in-out;
  }
  .first-page .first-container .menubar .line {
    width: 90%;
    height: 4px;
    background-color: black;
  }
}
@media screen and (max-width: 660px) {
  .change .menubar {
    right: 85%;
  }
  .first-page .first-container header .job-seeker {
    margin-left: 13px;
  }
}
@media screen and (max-width: 475px) {
  .first-page .first-container header .job-seeker {
    margin-left: 7px;
  }
}
@media screen and (max-width: 451px) {
  .change .menubar {
    right: 80%;
  }
}
.second-container {
  display: flex;
  gap: 100px;
  margin-top: 100px;
  margin-left: 30px;
  z-index: 400;
  position: relative;
}
.second-container .text-container {
  text-align: center;
}
.second-container .text-container h3 {
  font-size: 45px;
  text-align: center;
  line-height: 90px;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 1px;
  color: rgb(25, 92, 98);
}
.second-container .text-container .solution {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  align-self: center;
  font-family: "Manrope", sans-serif;
  line-height: 55px;
}
.second-container .text-container .services {
  font-weight: bold;
  font-style: oblique;
}
.second-container .image-container {
  width: 100%;
  padding-top: 75%;
  position: relative;
}
.second-container .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 50%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .second-container {
    display: grid;
    place-content: center;
    gap: 0;
    margin: 0;
  }
  .second-container .text-container h3 {
    font-size: 40px;
    line-height: 80px;
    margin-top: 30px;
  }
  .second-container .image-container img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .image-container {
    padding-top: 100%; /* Adjust aspect ratio for tablet */
  }
}
@media screen and (max-width: 480px) {
  .image-container {
    padding-top: 150%;
    margin-right: 50px;
  }
}
.second-page {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  font-family: "Manrope", sans-serif;
}
.second-page h3 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
  color: rgba(25, 92, 98, 0.9);
}
.second-page .extra {
  text-align: center;
  width: 100%;
  padding: 0 10%;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 30px;
  font-size: 18px;
}
.second-page .extra a {
  color: green;
}
.second-page .box-container {
  display: grid;
  place-content: center;
  cursor: pointer;
}
.second-page .box-container .first {
  display: flex;
  gap: 40px;
  place-content: center;
}
.second-page .box-container .first .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 180px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.second-page .box-container .first .box img {
  width: 70px;
  justify-self: center;
  cursor: pointer;
}
.second-page .box-container .first .box p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 15px;
}
.second-page .box-container .first .box-3 img {
  margin-top: 5px;
}
.second-page .box-container .second {
  display: flex;
  place-content: center;
  gap: 40px;
  margin-top: 20px;
}
.second-page .box-container .second .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 180px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.second-page .box-container .second .box img {
  width: 80px;
  justify-self: center;
}
.second-page .box-container .second .box p {
  text-align: center;
  color: white;
  font-weight: 800;
}
.second-page .box-container .third {
  display: flex;
  place-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.second-page .box-container .third .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 180px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.second-page .box-container .third .box img {
  width: 50px;
  justify-self: center;
}
.second-page .box-container .third .box p {
  text-align: center;
  color: white;
  font-weight: 800;
}

@media screen and (max-width: 1000px) {
  .second-page {
    height: 100%;
    border-top: 1px solid black;
    margin-bottom: 20px;
  }
  .second-page .box-container .first {
    display: grid;
    place-content: center;
  }
  .second-page .box-container .first .box {
    width: 300px;
  }
  .second-page .box-container .second {
    display: grid;
  }
  .second-page .box-container .second .box {
    width: 300px;
  }
  .second-page .box-container .third .box {
    width: 300px;
  }
}
.third-page {
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}
.third-page h3 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
  color: rgba(25, 92, 98, 0.9);
}
.third-page .another-text {
  text-align: center;
  width: 100%;
  padding: 0 10%;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.third-page .box-container {
  display: grid;
  place-content: center;
}
.third-page .box-container .first {
  display: flex;
  gap: 40px;
  place-content: center;
}
.third-page .box-container .first .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 180px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.third-page .box-container .first .box img {
  width: 80px;
  justify-self: center;
}
.third-page .box-container .first .box p {
  text-align: center;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 16px;
}
.third-page .box-container .second {
  display: flex;
  place-content: center;
  gap: 40px;
  margin-top: 20px;
}
.third-page .box-container .second .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 180px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.third-page .box-container .second .box img {
  width: 80px;
  justify-self: center;
}
.third-page .box-container .second .box p {
  text-align: center;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
}

@media screen and (max-width: 1000px) {
  .third-page {
    height: 100%;
    border-top: 1px solid black;
    margin-top: 10px;
  }
  .third-page .box-container .first {
    display: grid;
    place-content: center;
  }
  .third-page .box-container .first .box {
    width: 300px;
  }
  .third-page .box-container .second {
    display: grid;
  }
  .third-page .box-container .second .box {
    width: 300px;
  }
}
.fourth-page {
  display: flex;
  place-content: center;
  background-color: #2F6E70;
  width: 100%;
  height: 37vh;
  margin-top: 40px;
}
.fourth-page .fourth-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}
.fourth-page .fourth-container .first {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.fourth-page .fourth-container .first img {
  width: 150px;
  align-self: center;
}
.fourth-page .fourth-container .first p {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Manrope", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}
.fourth-page .fourth-container .second {
  display: flex;
  flex-direction: column;
}
.fourth-page .fourth-container .second h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.fourth-page .fourth-container .second .text-container {
  display: flex;
  gap: 20px;
  align-self: center;
  color: white;
  text-transform: uppercase;
}
.fourth-page .fourth-container .second .text-container .one p, .fourth-page .fourth-container .second .text-container .two p {
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
}
.fourth-page .fourth-container .third h4 {
  font-size: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.fourth-page .fourth-container .third p {
  font-size: 14px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.fourth-page .fourth-container .fourth {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.fourth-page .fourth-container .fourth h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
}
.fourth-page .fourth-container .fourth .social-links {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  gap: 30px;
}
.fourth-page .fourth-container .fourth .social-links div {
  cursor: pointer;
}
.fourth-page .fourth-container .fourth .social-links .fa-brands {
  font-size: 25px;
}
.fourth-page .fourth-container .fourth .back-to-the-top {
  width: 6vw;
  justify-self: center;
  align-self: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 30%;
  font-size: 15px;
}

footer {
  background-color: #2F6E70;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
footer p {
  margin-left: 20px;
}
footer .terms {
  margin-right: 30px;
  display: flex;
  gap: 20px;
}
footer .terms a {
  color: white;
}

@media screen and (max-width: 1000px) {
  .fourth-page {
    display: grid;
    height: 100%;
  }
  .fourth-page .fourth-container .first {
    margin-left: 0;
  }
  footer {
    padding-top: 10px;
  }
}
@media screen and (max-width: 650px) {
  footer {
    display: grid;
    place-content: center;
    height: 10%;
  }
  footer p {
    margin-left: 0px;
    text-align: center;
  }
  footer .terms {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 25px;
  }
}
@media screen and (max-width: 768px) {
  .fourth-page .fourth-container {
    display: flex;
    flex-direction: column;
  }
  .fourth-page .fourth-container .first {
    margin-bottom: 10px;
  }
  .fourth-page .fourth-container .fourth {
    display: grid;
    place-content: center;
    margin-bottom: 20px;
  }
  .fourth-page .fourth-container .fourth .back-to-the-top {
    height: 6vh;
    width: 50px;
    align-self: center;
    margin-right: 30px;
  }
}
@media screen and (max-width: 425px) {
  .fourth-page {
    display: grid;
  }
  .fourth-page .fourth-container {
    display: flex;
    flex-direction: column;
  }
  .fourth-page .fourth-container .first {
    margin-left: 0;
    width: 50%;
  }
  .fourth-page .fourth-container .first img {
    align-self: flex-start;
    margin-left: 10px;
  }
  .fourth-page .fourth-container .first p {
    width: 70%;
    margin-left: 10px;
  }
  .fourth-page .fourth-container .second {
    display: grid;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .fourth-page .fourth-container .second h4 {
    text-align: start;
  }
  .fourth-page .fourth-container .third {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .fourth-page .fourth-container .third h4 {
    text-align: start;
  }
  .fourth-page .fourth-container .third p {
    text-align: start;
  }
  .fourth-page .fourth-container .fourth {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 20px;
  }
  .fourth-page .fourth-container .fourth h4 {
    text-align: start;
  }
  .fourth-page .fourth-container .fourth .back-to-the-top {
    align-self: flex-start;
    justify-self: flex-start;
  }
}
@media screen and (max-width: 999px) {
  .job-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .job-container .another-container {
    display: none;
  }
  .job-container .sub-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  .job-container .sub-container .logo-container {
    align-self: center;
  }
  .job-container .sub-container .logo-container img {
    height: 25vh;
  }
  .job-container .sub-container .logo-container img {
    height: 25vh;
  }
  .job-container .sub-container form {
    align-self: center;
  }
  .job-container .sub-container form .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-self: center;
  }
  .job-container .sub-container form .details .input {
    position: relative;
  }
  .job-container .sub-container form .details .input input {
    width: 90vw;
    padding: 10px;
    border: 1.5px solid #2F6E70;
    border-radius: 5px;
    background: rgba(188, 255, 242, 0.32);
    font-size: 1em;
    font-weight: 600;
    height: 7vh;
  }
  .job-container .sub-container form .details .input input:valid + label, .job-container .sub-container form .details .input input:focus + label {
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.7em;
    padding: 0 10px;
    background: #2F6E70;
    border: 1px solid black;
    border-radius: 2px;
    letter-spacing: 1px;
  }
  .job-container .sub-container form .details .input label {
    position: absolute;
    left: 0;
    padding: 13px;
    font-size: 1em;
    text-transform: uppercase;
    color: #2F6E70;
    transition: 0.5s;
  }
  .job-container .sub-container form .details .position-input select {
    width: 90vw;
    padding: 10px;
    border: 1.5px solid #2F6E70;
    border-radius: 5px;
    background: rgba(188, 255, 242, 0.32);
    font-size: 1em;
    font-weight: 600;
    height: 7vh;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(/assets/logo/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 25%;
    background-size: 20px;
  }
  .job-container .sub-container form .details .position-input select:focus, .job-container .sub-container form .details .position-input select:hover {
    border-color: #164547;
  }
  .job-container .sub-container form .details .position-input select option {
    font-weight: 600;
    width: 0px;
    background-color: #fff;
  }
  .job-container .sub-container .file-uploading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .job-container .sub-container .file-uploading .upload-section .select-file {
    display: flex;
    gap: 10px;
  }
  .job-container .sub-container .file-uploading .upload-section .select-file button {
    width: 100%;
    background-color: #164547;
    height: 8vh;
    border: none;
    border-radius: 5px;
  }
  .job-container .sub-container .file-uploading .upload-section .select-file p {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
  }
  .job-container .sub-container .file-uploading .upload-section .file-status {
    display: grid;
    place-content: center;
    margin-bottom: 20px;
    gap: 10px;
    margin-top: 10px;
  }
  .job-container .sub-container .file-uploading .upload-section .file-status p {
    color: red;
    font-weight: 500;
    font-size: 15px;
  }
  .job-container .sub-container .file-uploading .upload-section .file-status .file-status-color {
    justify-self: center;
    background-color: rgba(238, 47, 47, 0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  .job-container .sub-container .file-uploading .upload-section .file-status .file-status-color .color-2 {
    width: 40px;
    height: 40px;
    background-color: rgb(220, 38, 38);
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  .job-container .sub-container .file-uploading .upload-section .file-status .file-status-color .green {
    background-color: rgb(4, 47, 46);
  }
  .job-container .sub-container .file-uploading .upload-section .file-status .green {
    background-color: rgba(25, 92, 98, 0.28);
  }
  .job-container .sub-container .submit-form {
    margin-bottom: 40px;
    width: 50%;
    background-color: #164547;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .job-container .sub-container .details .input {
    width: 100%;
  }
  .job-container .sub-container .details input {
    width: 100vw;
  }
  .job-container .sub-container .submit-form {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .job-container .sub-container {
    display: none;
  }
  .another-container {
    background-color: rgba(25, 92, 98, 0.85);
    display: flex;
    height: 100vh;
    position: relative;
  }
  .another-container .form-container {
    background-color: #fff;
    margin-left: 300px;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .another-container .form-container .img-job-seeker {
    width: 500px;
    position: fixed;
    top: 100px;
    left: 0;
    margin-left: 10px;
  }
  .another-container .form-container .logo-container {
    margin-left: 20px;
    display: flex;
  }
  .another-container .form-container .logo-container img {
    height: 25vh;
    margin-left: 170px;
  }
  .another-container .form-container .logo-container .home {
    width: 5vh;
    cursor: pointer;
  }
  .another-container .form-container form {
    margin-bottom: 150px;
    margin-left: 50px;
  }
  .another-container .form-container form .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
  }
  .another-container .form-container form .details .input {
    position: relative;
  }
  .another-container .form-container form .details .input input {
    width: 40vw;
    padding: 10px;
    border: 1.5px solid #2F6E70;
    border-radius: 5px;
    background: rgba(188, 255, 242, 0.32);
    font-size: 1em;
    font-weight: 600;
  }
  .another-container .form-container form .details .input input:valid + label, .another-container .form-container form .details .input input:focus + label {
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.7em;
    padding: 0 10px;
    background: #2F6E70;
    border: 1px solid black;
    border-radius: 2px;
    letter-spacing: 1px;
  }
  .another-container .form-container form .details .input label {
    position: absolute;
    left: 0;
    padding: 13px;
    font-size: 1em;
    text-transform: uppercase;
    color: #2F6E70;
    transition: 0.5s;
  }
  .another-container .form-container form .details .position-input select {
    width: 40vw;
    padding: 10px;
    border: 1.5px solid #2F6E70;
    border-radius: 5px;
    background: rgba(188, 255, 242, 0.32);
    font-size: 1em;
    font-weight: 600;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(/assets/logo/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 25%;
    background-size: 20px;
  }
  .another-container .form-container form .details .position-input select:focus, .another-container .form-container form .details .position-input select:hover {
    border-color: #164547;
  }
  .another-container .form-container form .details .position-input select option {
    font-weight: 600;
    width: 0px;
    background-color: #fff;
  }
  .another-container .form-container form .file-uploading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .another-container .form-container form .file-uploading .upload-section .select-file {
    display: flex;
    gap: 10px;
  }
  .another-container .form-container form .file-uploading .upload-section .select-file button {
    width: 100%;
    background-color: #164547;
    height: 8vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .another-container .form-container form .file-uploading .upload-section .file-status {
    display: grid;
    place-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .another-container .form-container form .file-uploading .upload-section .file-status p {
    color: red;
    font-weight: 500;
    font-size: 15px;
  }
  .another-container .form-container form .file-uploading .upload-section .file-status .file-status-color {
    justify-self: center;
    background-color: rgba(238, 47, 47, 0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  .another-container .form-container form .file-uploading .upload-section .file-status .file-status-color .color-2 {
    width: 40px;
    height: 40px;
    background-color: rgb(220, 38, 38);
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  .another-container .form-container form .file-uploading .upload-section .file-status .file-status-color .green {
    background-color: rgb(4, 47, 46);
  }
  .another-container .form-container form .file-uploading .upload-section .file-status .green {
    background-color: rgba(25, 92, 98, 0.28);
  }
  .another-container .form-container form .file-uploading .submit-form {
    width: 80%;
    background-color: #164547;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 50px;
  }
}
#lab-technicians {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}
#lab-technicians h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 20px;
  color: rgba(25, 92, 98, 0.9);
}
#lab-technicians .another-text {
  text-align: center;
  width: 100%;
  padding: 0 10%;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}
#lab-technicians .another-text a {
  color: green;
}
#lab-technicians .box-container {
  display: grid;
  place-content: center;
}
#lab-technicians .box-container .first {
  display: flex;
  gap: 40px;
  place-content: center;
}
#lab-technicians .box-container .first .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 200px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
#lab-technicians .box-container .first .box img {
  width: 80px;
  justify-self: center;
}
#lab-technicians .box-container .first .box p {
  text-align: center;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}
#lab-technicians .box-container .second {
  display: flex;
  place-content: center;
  gap: 40px;
  margin-top: 20px;
}
#lab-technicians .box-container .second .box {
  background-color: rgba(25, 92, 98, 0.9);
  width: 200px;
  height: 30vh;
  display: grid;
  place-content: center;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
#lab-technicians .box-container .second .box img {
  width: 80px;
  justify-self: center;
}
#lab-technicians .box-container .second .box p {
  text-align: center;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  #lab-technicians {
    height: 100%;
    border-top: 1px solid black;
    margin-top: 10px;
  }
  #lab-technicians .box-container .first {
    display: grid;
    place-content: center;
  }
  #lab-technicians .box-container .first .box {
    width: 300px;
  }
  #lab-technicians .box-container .second {
    display: grid;
  }
  #lab-technicians .box-container .second .box {
    width: 300px;
  }
}
.container {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: moveUp 3s 1 forwards;
}
.container .home-container {
  align-self: flex-end;
  margin-right: 50px;
  margin-top: 30px;
  cursor: pointer;
}
.container .who {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: rgb(25, 92, 98);
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.container .first-container {
  display: flex;
  margin: 20px 50px;
  place-content: center;
  gap: 20px;
}
.container .first-container img {
  height: 50vh;
  margin-left: 100px;
}
.container .first-container .one {
  font-size: 30px;
}
.container .first-container .text {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-right: 100px;
}
.container .first-container .text h3 {
  font-size: 25px;
  color: black;
  text-align: center;
}
.container .first-container .text p {
  font-weight: 500;
  width: 90%;
  align-self: center;
  letter-spacing: 0.5px;
  line-height: 25px;
  text-indent: 20px;
  padding-bottom: 20px;
}
.container .second-container-2 {
  margin: 10px 80px;
  display: flex;
  gap: 10px;
}
.container .second-container-2 .text {
  border-radius: 10px;
  padding: 10px;
}
.container .second-container-2 .text .two {
  color: black;
  font-size: 30px;
}
.container .second-container-2 .text p {
  padding-bottom: 10px;
  text-indent: 20px;
  line-height: 25px;
  width: 90%;
}
.container .second-container-2 img {
  height: 50vh;
}
.container .third-container {
  display: flex;
  margin: 20px 40px;
  gap: 10px;
}
.container .third-container img {
  height: 60vh;
  margin-bottom: 20px;
}
.container .third-container .first .one {
  margin-top: 50px;
}
.container .third-container .text {
  padding: 30px;
  border-radius: 10px;
  margin-top: 40px;
}
.container .third-container .text .two {
  color: black;
  font-size: 25px;
  text-align: center;
}
.container .third-container .text p {
  text-indent: 20px;
  line-height: 25px;
  width: 90%;
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.admin-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.admin-container .first {
  background-color: rgb(25, 92, 98);
  width: 20%;
  display: flex;
  place-content: center;
}
.admin-container .first p {
  align-self: center;
}
.admin-container .second {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.admin-container .second .first-ass {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.admin-container .second .first-ass .thuram {
  width: 12%;
}
.admin-container .second .first-ass .home {
  cursor: pointer;
}
.admin-container .second .second-ass {
  display: flex;
  padding: 0 0 0 50px;
  gap: 100px;
}
.admin-container .second .second-ass .box {
  background-color: rgb(248, 250, 252);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 35%;
  height: 30vh;
  border-radius: 10px;
}
.admin-container .second .second-ass .taken-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.admin-container .second .second-ass .taken-container-1 .num {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-left: 30px;
  font-size: 30px;
  border-bottom: 1px solid;
}
.admin-container .second .second-ass .taken-container-1 .progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 20px;
  padding-left: 2px;
  margin-bottom: 10px;
}
.admin-container .second .second-ass .taken-container-1 .progress-container .progress-bar {
  width: 65%;
  height: 25px;
  background-color: rgb(25, 92, 98);
  text-align: center;
  color: white;
  line-height: 30px;
  border-radius: 10px; /* Add rounded corners */
  transition: width 0.3s ease; /* Add smooth transition */
}
.admin-container .second .second-ass .taken-container-1 .text {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.admin-container .second .second-ass .taken-container-2 {
  display: flex;
  flex-direction: column;
}
.admin-container .second .second-ass .taken-container-2 .first-section {
  align-self: flex-end;
}
.admin-container .second .second-ass .taken-container-2 .progress-container {
  position: relative;
  width: 200px;
  height: 200px;
  align-self: center;
}
.admin-container .second .second-ass .taken-container-2 .progress-container .progress {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}
.admin-container .second .second-ass .taken-container-2 .progress-container .progress .progress-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-clip-path: conic-gradient(transparent 0%, transparent 50%, #4CAF50 0%, #4CAF50 100%);
          clip-path: conic-gradient(transparent 0%, transparent 50%, #4CAF50 0%, #4CAF50 100%);
  transform: rotate(90deg);
  background: transparent;
  position: absolute;
}
.admin-container .second .second-ass .taken-container-2 .progress-container .progress .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}
.admin-container .second .job-data-page {
  padding-top: 30px;
  padding-bottom: 50px;
}
.admin-container .second .job-data-page .job-container {
  max-height: 220px;
  overflow-y: auto;
}
.admin-container .second .job-data-page .job-container table {
  width: 93%;
  margin-left: 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.admin-container .second .job-data-page .job-container table thead tr th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
}
.admin-container .second .job-data-page .job-container table tbody tr td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.admin-container .second .job-data-page .job-container table tbody tr #applicant-file {
  display: flex;
  cursor: pointer;
}
.admin-container .second .job-data-page .job-container table tbody tr #applicant-file img {
  width: 30px;
}

@media screen and (max-width: 791px) {
  .admin-container .first {
    display: none;
  }
  .admin-container .second {
    width: 100%;
  }
  .admin-container .second .first-ass {
    padding: 0;
    display: flex;
    place-content: center;
  }
  .admin-container .second .first-ass .thuram {
    width: 30%;
    justify-self: center;
  }
  .admin-container .second .first-ass .home {
    display: none;
  }
  .admin-container .second .second-ass {
    display: grid;
    padding: 0;
  }
  .admin-container .second .second-ass .taken-container-1 {
    justify-self: center;
    width: 80%;
  }
  .admin-container .second .second-ass .taken-container-2 {
    justify-self: center;
    width: 80%;
  }
  .admin-container .second .job-data-page .job-container table {
    width: 100%;
    margin: 0;
    overflow-y: scroll;
  }
}
.lts-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.lts-container .first {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-right: 100px;
}
.lts-container .first h3 {
  justify-self: center;
  align-self: center;
  color: rgb(47, 110, 112);
  font-size: 25px;
  margin-left: 50px;
  text-align: center;
}
.lts-container .first img {
  justify-self: flex-end;
  align-self: flex-end;
  cursor: pointer;
  width: 30px;
  align-self: center;
}
.lts-container .second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.lts-container .second h3 {
  font-size: 20px;
  text-align: center;
}
.lts-container .second p {
  padding: 0 100px;
  font-size: 15px;
  text-indent: 20px;
  margin-bottom: 10px;
}
.lts-container .last {
  align-self: flex-end;
  padding-right: 100px;
}
.lts-container .last button {
  background-color: rgb(25, 92, 98);
  padding: 10px 40px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .lts-container .first {
    margin-right: 0;
  }
  .lts-container .first h3 {
    font-size: 20px;
    justify-self: center;
    align-self: center;
    margin-left: 0;
  }
  .lts-container .first img {
    display: none;
  }
  .lts-container .second p {
    padding: 0 20px;
    line-height: 30px;
  }
  .lts-container .last {
    align-self: center;
    padding-right: 0px;
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */